@{
    ViewData["Title"] = "Nexus IBS Dashboard";
}

<div class="nexus-dashboard">
    <h1>@ViewData["Title"]</h1>
    <p>Welcome to the Nexus IBS system. Use the buttons below to access different features.</p>

    <div class="row">
        <div class="col-md-6">
            <a asp-action="BankReconciliation" class="btn-nexus">Bank Reconciliation</a>
        </div>
        <div class="col-md-6">
            <a asp-action="UploadNexusPayables" class="btn-nexus">Upload Nexus Payables</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a asp-action="ProcessNexusPayables" class="btn-nexus">Process Nexus Payables</a>
        </div>
        <div class="col-md-6">
            <a asp-action="ProcessConnectOnePayables" class="btn-nexus">Process ConnectOne Payables</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a asp-action="DatabaseMaintenance" class="btn-nexus">Database Maintenance</a>
        </div>
    </div>
</div>